<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %C{1}: %m%n%n" />
		</layout>
	</appender>

	<appender name="FileAppender" class="biz.minaret.log4j.DatedFileAppender">
		<param name="Directory" value="kodkodLogs" />
		<param name="Prefix" value="" />
		<param name="Suffix" value="" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss:SS} - %p - %C{1} - %m%n%n" />
		</layout>
	</appender>

	<appender name="UseLogAppender" class="org.tzi.use.kodkod.UseLogAppender">
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %m%n" />
		</layout>
	</appender>

	<logger name="org.apache.commons.configuration.ConfigurationUtils">
		<level value="INFO" />
	</logger>	

	<!-- Direkte Ausgabe der von Kodkod zurückgegebenen Lösung -->
	<logger name="org.tzi.kodkod.KodkodSolver">
		<level value="INFO" />
	</logger>

	<!-- Konfiguration von Klassen, Attributen und Assoziationen -->
	<logger name="org.tzi.kodkod.model.impl.ModelElement">
		<level value="INFO" />
	</logger>

	<!-- Konfiguration Basistypen (String, Integer) -->
	<logger name="org.tzi.kodkod.model.type.BasicType">
		<level value="INFO" />
	</logger>

	<!-- Formeln für Vererbung -->
	<logger name="org.tzi.kodkod.model.impl.Class">
		<level value="INFO" />
	</logger>

	<!-- Formeln für Constraints bzgl. Domäne, Typ, Multiplizität und Anzahl 
		definierter Werte eines Attributs -->
	<logger name="org.tzi.kodkod.model.impl.Attribute">
		<level value="INFO" />
	</logger>

	<!-- Formeln für Constraints bzgl. Typ eines Assoziationsendes, Multiplizitäten 
		der Enden (inkl. Assoziationsklassen) sowie Anzahl der Links -->
	<logger name="org.tzi.kodkod.model.impl.Association">
		<level value="INFO" />
	</logger>

	<!-- Formel einer Invariante -->
	<logger name="org.tzi.kodkod.model.impl.Invariant">
		<level value="INFO" />
	</logger>

	<!-- Transformation des Klassendiagramms -->
	<logger name="org.tzi.use.kodkod.transform.ModelTransformator">
		<level value="INFO" />
	</logger>

	<!-- Transformation der Invariaten -->
	<logger name="org.tzi.use.kodkod.transform.InvariantTransformator">
		<level value="INFO" />
	</logger>

	<!-- Welche Operation (Übersetzung in relationale Logik) wird für einen 
		OCL-Operator aufgerufen -->
	<logger name="org.tzi.kodkod.ocl.OCLOperationLoader">
		<level value="INFO" />
	</logger>

	<!-- Reihenfolge in der eine Invariante abgearbeitet wird -->
	<logger
		name="org.tzi.use.kodkod.transform.ocl.SimpleExpressionVisitor">
		<level value="INFO" />
	</logger>

	<!-- Operator und Parameter einer Standardexpression -->
	<logger
		name="org.tzi.use.kodkod.transform.ocl.StandardOperationVisitor">
		<level value="INFO" />
	</logger>

	<!-- Tuple für jede Relation einer Lösung -->
	<logger name="org.tzi.kodkod.KodkodModelValidator">
		<level value="INFO" />
	</logger>

	<!-- Was passiert mit der Lösung -->
	<logger name="org.tzi.use.kodkod.UseKodkodModelValidator">
		<level value="INFO" />
	</logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
	</root>

</log4j:configuration>